@media (min-width: 767px){
		.nav{
			display:none;
		}
	}

	ul{
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color:black;
	}
	.jumbotron{
		background-color: white;
	}
	section{
		background-color: gray;
	}